* {
    margin: 0;
    padding: 0;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    box-sizing: border-box;
}

header {
    background-color: #FFFFFF;
}

#banner {
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
}

#banner .baner-contant {
    color: #FFFFFF;
    line-height: 24px;
    font-size: 18px;
    padding: 20px;
    gap: 16px;
}

#banner .baner-contant h1 {
    line-height: 38px;
    margin-bottom: 16px;
}

#banner .baner-contant p {
    line-height: 28px;
    margin-bottom: 16px;
}

#banner .baner-contant .banner-c-h {
    color: #30B868;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 88%;
    padding: 0 120px;
}  

.manu {
    display: flex;
    font-size: 16px;
    gap: 34px;
    align-items: center;
}

.manu li {
    list-style: none;
}

.btn {
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #469165;
    color: #FFFFFF;
    font-weight: 550;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: purple;
    transform: scale(1.03);

}

.btn1 {
    border: none;
    padding: 12px;
    border-radius: 1000px;
    margin-bottom: 16px;
    color: #469165;
    font-weight: 600;
    width: 230px;
    cursor: pointer;
    transition: 0.3s;
}

.btn1:hover {
    background-color: rgb(246, 169, 233);
    transform: scale(1.03);
}

.btn2 {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 12px;
    border-radius: 4px;
    background: transparent;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn2:hover {
    background-color: rgba(85, 17, 75, 0);
    transform: scale(1.04);
}
.section-head{
    justify-content: center;
    text-align: center;
}
.section-head h2{
    font-size: 48px;
    color: #001931;
}
.section-head p{
    padding-top: 16px;
    color: #627382;
    line-height: 20px;
}
#card{
    padding-top: 50px;
}
#card .card-container{
    width: 88%;
    max-width: 1360px;
    margin: 0 auto;
}

.card-box{
    display: flex;
    gap: 24px;
}

.card-box .card-contant{
    padding: 24px;
    width: 88%;
    max-width: 322px;
}

/* card  */
.img-soon {
  padding: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 120px;
}
.img-soon:hover {
  transform: scale(1.15);
}
.img-prent {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  text-align: center;
}
.titil {
  max-width: 1050px;
  margin: 0px auto;
  text-align: center;
  padding: 30px;
}
.text {
  padding-bottom: 44px;
}
.p {
  color: #627382;
}
 /* new Section */

.image-cotainer{
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1350px;
    margin: 0 auto;
}

.div-containaer{
    display: flex;
    margin: 10px auto;

}

.font{
    font-size: 3.5em;
    font-weight: bold;
    margin: 20px auto;
}
.paragraph{
    margin: 20px auto;
    color: #627382;
}
.challange-pat{
    text-align: center;
    max-width: 1350px;
    margin:0px auto;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #F7F6F2;
    border-radius: 5px;
}
.challange-p{
    margin: 20px auto;

}

.parant{
    margin-bottom: 120px ;
}
.footer-son{
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto;
}

.parent-footer{
    background-color: #001931;
    color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 80px;
    
  }